* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  max-width: 100%;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent),
    url(../image/saad-chaudhry-cYpqYxGeqts-unsplash.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  max-width: 70rem;
  margin: 14% auto;
}

section h1 {
  font-size: 8rem;
  color: white;
  text-align: center;
  padding-bottom: 1.5rem;
  border-bottom: 10px solid #4caf50;
  margin-bottom: 8rem;
}

input {
  display: block;
  background: transparent;
  /* border: 2px solid white; */
  border: none;
  font-size: 2.5rem;
  color: white;
  margin-top: 2rem;
  width: 70rem;
}

input:focus {
  outline: none;
  border: 2px solid #49c1a2;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

input.top-email::placeholder {
  padding: 0 3rem;
}

input.top-password::placeholder {
  padding: 0 3rem;
}

input::placeholder {
  color: white;
}

.email2,
.password2 {
  border-bottom: 4px solid #4caf50;

  margin-bottom: 5rem;
  position: relative;
}

.button {
  /* display: inline; */
  border: 5px solid #4caf50;
  border-radius: 1rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 8rem;
}
.button button {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 2.5rem;
  padding: 1rem 30rem;
}

.email,
.password {
  border-bottom: 4px solid #4caf50;

  margin-bottom: 5rem;
}

input.password1 {
  font-family: "Arial", FontAwesome;
}

.fa-at {
  color: white;
  position: absolute;
  bottom: 0.7rem;
}

.fa-lock {
  color: white;
  position: absolute;
  bottom: 0.7rem;
}
